* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}


body {
background: linear-gradient(135deg, #1b1b1b, #2d2d2d);
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
padding: 20px;
}


.container {
width: 95%;
max-width: 1100px;
background: #fcf8f8;
border-radius: 18px;
display: grid;
grid-template-columns: 1fr 1fr;
overflow: hidden;
box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}

.subtitle {
font-size: 16px; 
font-style: bold; 
font-weight: 700;  
color: #777;
margin-bottom: 30px;
}

.btn-login {
background: #ff541c;
color: #fff;
padding: 12px 20px;
border: none;
border-radius: 10px;  
}

.input {
    font-size: 16px;
    margin-bottom: 20px;
    display: block;
}
.email {
    margin-bottom: 8px;
    font-weight: 600;
    color: #333;
    display: flex;
    margin-top: 8px;
}
.input-box{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    text-align: ;
}

.left {
padding: 50px 60px;
display: flex;
flex-direction: column;
justify-content: center;
}


.logo {
display: flex;
align-items: center;
gap: 12px;
margin-bottom: 40px;
}


.logo-circle {
width: 45px;
height: 45px;
background: linear-gradient(135deg, #ff7b2e, #ff3c2f);
border-radius: 50%;
box-shadow: 0 4px 12px rgba(255, 103, 57, 0.4);
}


.welcome-title {
font-size: 32px;
font-weight: 700;
margin-bottom: 10px;
color: #222;
}

.small-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-top: 10px;
}

.small-row input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  accent-color: #ff541c;
  cursor: pointer;
}

.small-row label {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #444;
  cursor: pointer;
}

.small-row a {
  color: #f10808;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
}

.small-row a:hover {
  text-decoration: underline;
  color: #111010;
}

