*{
border: none;
border-radius: 8px;
color: white;
font-size: 16px;
cursor: pointer;
margin-top: 15px;
}


.or {
text-align: center;
margin: 15px 0;
color: #777;
}


.btn-google {
width: 100%;
padding: 12px;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
border: 1px solid #ccc;
cursor: pointer;
background: white;
}


.bottom-text {
text-align: center;
margin-top: 15px;
font-size: 14px;
}


.bottom-text a {
color: #ff7b2e;
text-decoration: none;
font-weight: bold;
}


.right img {
width: 100%;
height: 100%;
object-fit: cover;
}


/* ---------------- RESPONSIVE DESIGN ---------------- */
@media (max-width: 900px) {
.container {
grid-template-columns: 1fr;
height: auto;
}


.right {
display: none;
}


body {
height: auto;
padding: 20px;
}


.left {
padding: 30px 25px;
}
}


@media (max-width: 500px) {
.welcome-title {
font-size: 22px;
}


.btn-login,
.btn-google {
padding: 10px;
font-size: 14px;
}


input {
padding: 10px;
}


.bottom-text {
font-size: 13px;
}
}