
.btn-google{
width: 100%;
padding: 14px;
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
border-radius: 10px;
border: 1px solid #ccc;
cursor: pointer;
background: #eb1717;
font-size: 15px;
transition: 0.3s ease;
}


.btn-google:hover {
background: #f0f0f0;
transform: translateY(-2px);
}


.bottom-text {
text-align: center;
margin-top: 18px;
font-size: 14px;
color: #444;
}


.bottom-text a {
color: #fa4407;
text-decoration: none;
font-weight: 600;
}


.right img {
width: 100%;
height: 100%;
object-fit: cover;
filter: brightness(0.9);
} 
@media (max-width: 900px) {
.container {
grid-template-columns: 1fr;
height: auto;
}


.right {
display: none;
}


body {
height: auto;
padding: 20px;
}


.left {
padding: 30px 25px;
}
}


@media (max-width: 500px) {
.welcome-title {
font-size: 22px;
}


.btn-login,
.btn-google {
padding: 10px;
font-size: 14px;
}


input {
padding: 10px;
}


.bottom-text {
font-size: 13px;
}
}